{% extends './includes/base.html.twig' %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    {% for trait in member %}
        <h1>{{ trait.first_name }} {{ trait.last_name }}</h1>
        <hr/>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ trait.first_name }} {{ trait.last_name }}</h5>
            <p class="card-text">{{ trait.email }}</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>


    {% endfor %}

{% endblock %}
