{% extends './includes/base.html.twig' %}
{% block title %}
    Activities
{% endblock %}
{% block content %}
    <h1>Activities</h1>
    <hr/>
    <table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Start time</th>
        <th scope="col">Leader</th>
    </tr>
    </thead>
    <tbody>
<tr>
    {% for activity in activities %}
        <th scope="row">{{ activity.activity_id }}</th>
        <td><a href="http://localhost:8081/activities/{{ activity.activity_id }}">{{ activity.title }}</a></td>
        <td>{{ activity.start_time|date("l d. M. Y. H:i") }}</td>
        <td>{{ activity.first_name }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

  {% if session.get('userID') %}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add activity</button>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"> Add activity</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <form action="" id="add-activity" method="post">
                          <div class="form-group">
                              <label for="title" class="col-form-label">Title:</label>
                              <input type="text" class="form-control" name="title" id="title">
                          </div>
                          <div class="form-group">
                              <label for="start-time" class="col-form-label">Start time:</label>
                              <input type="datetime-local" class="form-control" name="start-time" id="start-time">
                          </div>
                          <div class="form-group">
                              <label for="end-time" class="col-form-label">End time:</label>
                              <input type="datetime-local" class="form-control" name="end-time" id="end-time">
                          </div>
                          <div class="form-group">
                              <label for="leader" class="col-form-label">Leader:</label>
                              <input class="form-control" name="leader" id="leader"
                                     placeholder="You" readonly>
                          </div>
                          <div class="form-group">
                              <label for="max-attendees" class="col-form-label">Max attendees:</label>
                              <input type="number" class="form-control" min="1" name="max-attendees" id="max-attendees">
                          </div>
                          <div class="form-group">
                              <label for="description" class="col-form-label">Description:</label>
                              <textarea class="form-control" name="description" rows="4" id="description"></textarea>
                          </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" form="add-activity" class="btn btn-primary">Add activity</button>
                  </div>
              </div>
          </div>
      </div>
    {% endif %}
{% endblock %}
