{% extends './includes/base.html.twig' %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    <section class="ui center aligned middle aligned segment">

        {# Error and success message handling #}
        {% for message in session.getFlashbag().get('dashboardSuccess') %}
            <div class="ui success message">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in session.getFlashbag().get('dashboardError') %}
            <div class="ui error message">
                {{ message }}
            </div>
        {% endfor %}

        <h1 class="ui header">
            <i class="users icon"></i>
            Members
        </h1>
        <form method="get" action="/dashboard/search">
            <label> Payment status
                <select name="payment-status" onchange="this.form.submit()">
                    <option value="">None selected ..</option>
                    <option value="0">Not Paid</option>
                    <option value="1">Paid</option>
                </select>
            </label>
            <label> Interests
                <select name="interests" onchange="this.form.submit()">
                    <option value="">None selected ..</option>
                    <option value="0">Football</option>
                    <option value="1">Potato</option>
                </select>
            </label>
        </form>
        <table class="ui celled table" id="membersTable">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Registered</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for member in members %}
                    <td class="checkbox">
                        <input type="checkbox" form="send-email" name="markedMembers[]" value="{{ member.email }}">
                    </td>

                    <td data-label="ID">{{ member.member_id }}</td>
                    <td data-label="Name">{{ member.first_name }} {{ member.last_name }}</td>
                    <td data-label="Email">{{ member.email }}</td>
                    <td data-label="Street Address">{{ member.street_address }}, {{ member.zip_code }}</td>
                    <td data-label="City"> {{ member.city | capitalize }}</td>
                    <td data-label="Registered">{{ member.time_of_registration |date("d. M. Y. H:i") }}</td>
                </tr>
                {% endfor %}
            </tbody>

            {# Footer menu #}
            <tfoot class="full-width">
                <tr>
                    <th></th>
                    <th></th>
                    <th colspan="4">
                        <button class="ui negative right floated small primary labeled icon button" disabled>
                            <i class="remove icon"></i> Delete member
                        </button>
                        <button class="ui button" id="openMailModal">
                            Send Email
                        </button>
                        <button class="ui positive right floated small primary labeled icon button" disabled>
                            <i class="remove icon"></i>
                            <a href="/add-member">Add a new member</a>
                        </button>
                        <button class="ui small button" id="markAll">
                            Mark all
                        </button>
                        <button class="ui small button" id="unMarkAll">
                            Unmark all
                        </button>
                    </th>
                </tr>
            </tfoot>
        </table>

        {# Send email Modal #}
        <div class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                Send Email
            </div>
            <div class="content">
                <form class="ui form" id="send-email" action="dashboard/send-email" method="post">
                    <div class="field">
                    </div>
                    <div class="field">
                        <label>Subject
                            <input type="text" name="subject" placeholder="Dear Tom">
                        </label>
                    </div>
                    <div class="field">
                        <label>Content
                            <textarea name="content" placeholder="Email content..."
                                      rows="4"></textarea>
                        </label>
                    </div>
                    <button class="ui primary button" form="send-email" type="submit">Send Email</button>
                </form>
            </div>
        </div>
    </section>
    <script>

        // jQuery --------------------------------------------------------------------

        // links button to Mail-modal
        $('#openMailModal').click(function () {
            $('.ui.modal').modal('show');
        });

        // initialises dropdown
        $('.ui.dropdown')
            .dropdown();

        // initialises the DataTable
        $('#membersTable').DataTable({
            select: true
        });

        //defines the checkboxes on the site
        const checkboxes = $("input[type='checkbox']");

        const button = $('.ui.button')

        //enables all disabled buttons when a checkbox have been marked
        checkboxes.click(function () {
            button.attr("disabled", !checkboxes.is(":checked"));
        });


        //mark all
        $('#markAll').click(function () {
            checkboxes.prop('checked', true);
        });

        //unmark all
        $('#unMarkAll').click(function () {
            checkboxes.prop('checked', false);
        });



    </script>



{% endblock %}

