{% extends './includes/base.html.twig' %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
<section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
        <i class="users icon"></i>
        Members
    </h1>
    <form method="get" action="" id="filter">
    <div class="ui menu">
        <div class="ui floating labeled icon dropdown button">
            <span class="text">Filters</span>
            <i class="filter icon"></i>
            <div class="menu">
                <div class="header">Categories</div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    <span class="text">Age</span>
                    <div class="right menu">
                        <div class="item">10-13</div>
                        <div class="item">13-16</div>
                        <div class="item">17-20</div>
                    </div>
                </div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    <span class="text">Payment status</span>
                    <div class="right menu">
                        <div class="item">Paid</div>
                        <div class="item">Not Paid</div>
                    </div>
                </div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    <span class="text">Gender</span>
                    <div class="right menu">
                        <div class="item">Male</div>
                        <div class="item">Female</div>
                        <div class="item">Other</div>
                    </div>
                </div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    <span class="text">Active/Old Members</span>
                    <div class="right menu">
                        <div class="item">Old</div>
                        <div class="item">Active</div>
                    </div>
                </div>
            </div>
        </div>
        <button class="ui left floated square button" value="Search" type="submit" form="filter">Search</button>
    </div>

    </form>
    <table class="ui selectable celled table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Street Address</th>
                <th>Zip code</th>
                <th>City</th>
                <th>Interests</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for member in members %}
                <td data-label="ID">{{ member.member_id }}</td>
                <td data-label="First name">{{ member.first_name }}</td>
                <td data-label="Last name">{{ member.last_name }}</td>
                <td data-label="Email">{{ member.email }}</td>
                <td data-label="Street Address">{{ member.street_address }}</td>
                <td data-label="Zip code">{{ member.zip_code }}</td>
                <td data-label="City">{{ member.city }}</td>

                    <td data-label="Interests">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="gender">
                        <i class="dropdown icon"></i>
                        <div class="default text">Interests</div>
                        <div class="menu">
                            {% for interest in member.interests %}
                            <div class="item" data-value={{ interest.type }}>{{ interest.type }}</div>
                            {% endfor %}
                            <div class="item" data-value="1">Hallo</div>
                        </div>
                        </div>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
    <script>
        $('.ui.dropdown')
            .dropdown()
        ;
    </script>


{% endblock %}

