{% extends './includes/base.html.twig' %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
<section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
        <i class="users icon"></i>
        Members
    </h1>
    <table class="ui selectable celled table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Street Address</th>
                <th>Zip code</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for member in members %}
                <td data-label="ID">{{ member.member_id }}</td>
                <td data-label="First name">{{ member.first_name }}</td>
                <td data-label="Last name">{{ member.last_name }}</td>
                <td data-label="Email">{{ member.email }}</td>
                <td data-label="Street Address">{{ member.street_address }}</td>
                <td data-label="Zip code">{{ member.zip_code }}</td>
                <td data-label="City">{{ member.city }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}

