{% extends './includes/base.html.twig' %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    {% for data in member %}

        <section class="ui center aligned middle aligned segment">
            <h2 class="ui icon header">
                <i class="settings icon"></i>
                <div class="content">
                    Account Settings
                    <div class="sub header"></div>
                </div>
            </h2>

            {% if session.get('memberID') != data.member_id %}
                <a href="/profile/{{ data.member_id }}/delete" class="negative ui button"
                   onclick="return confirm('Are you sure you want to delete this member?');">
                    <i class="trash alternate middle aligned icon"></i>
                    Delete</a>
            {% endif %}

            <div class="ui horizontal segments">
                <div class="ui segment">
                    <div class="ui header">Public profile</div>
                    <div class="ui divider"></div>

                    {# Include profile page #}
                    {% include './includes/member_profile_template.html.twig' %}

                {# Update profile forms #}
                </div>
                <div class="ui segment">
                    <div class="ui header">Edit Profile</div>
                    <div class="ui divider"></div>

                    {# Update profile image form #}
                    <h4 class="ui dividing header">Change Profile Picture</h4>
                    <form action="/profile/{{ data.member_id }}" method="post" enctype="multipart/form-data">
                        <div class="field">
                            <label>Profile image
                                <input type="file" name="image">
                            </label>
                        </div>
                        <br>
                        <button class="ui blue submit button" name="submit" type="submit">Change Profile Picture</button>
                    </form>
                    <div class="ui divider"></div>

                    {# Update profile information form #}
                    <form class="ui form" action="" method="post">
                        <h4 class="ui dividing header">Edit profile information</h4>
                        <div class="two fields">
                            <div class="field">
                                <label>First name
                                    <input type="text" name="first-name" placeholder="Ola">
                                </label>
                            </div>
                            <div class="field">
                                <label>Last name
                                    <input type="text" name="last-name" placeholder="Nordmann">
                                </label>
                            </div>
                        </div>
                        <div class="two fields">
                        <div class="field">
                            <label>Username
                                <input type="text" name="username" placeholder="mike.pence">
                            </label>
                        </div>

                        <div class="field">
                            <label>Email
                                <input type="email" name="email" placeholder="olanordmann@mail.no">
                            </label>
                        </div>
                        </div>
                        <div class="two fields">
                        <div class="field">
                            <label>Password
                                <input type="password" name="password" placeholder="*******">
                            </label>
                        </div>
                        <div class="field">
                            <label>Confirm password
                                <input type="password" name="confirm-password" placeholder="*******">
                            </label>
                        </div>
                        </div>
                        <div class="field">
                            <label>Phone number
                                <input type="tel" name="phone-number" pattern="[0-9]{8}" placeholder="12345678">
                            </label>
                        </div>
                        <div class="two fields">
                        <div class="field">
                            <label>Birth date
                                <input type="date" name="birth-date" min="1900-01-01" max="2010-01-01" placeholder>
                            </label>
                        </div>

                        <div class="grouped fields">
                            <label>Gender</label>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" value="male" name="gender">
                                    <label>Male</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" value="female" name="gender">
                                    <label>Female</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" value="other" name="gender">
                                    <label>Other</label>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Street address
                                    <input type="text" name="street-address" placeholder="Volleveien 12">
                                </label>
                            </div>
                            <div class="field">
                                <label>Zip code
                                    <input type="text" name="zip-code" placeholder="0001">
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <label for="multi-select"> Interests </label>
                            <select name="interests[]" class="ui search selection dropdown" multiple="" id="multi-select">
                                <option value="">Interests</option>
                                {% for availableInterest in allAvailableActivities %}
                                    <option value="{{ availableInterest.interest_id }}">{{ availableInterest.type }}</option>
                                {% endfor %}

                            </select>
                        </div>

                        <script>
                            $('#multi-select')
                                .dropdown()
                            ;
                        </script>

                        <br>
                        <button class="ui blue submit button" name="submit" type="submit">Edit member</button>
                        <div class="ui error message" id="error-register"></div>
                    </form>


                        {# Error/Success message handling #}
                        {% for message in session.getFlashbag().get('profileUpdateError') %}

                            <div class="ui negative message">
                                <ul class="list">
                                    <li>{{ message }}</li>
                                </ul>
                            </div>

                        {% endfor %}
                        {% for message in session.getFlashbag().get('UpdateSuccess') %}

                            <div class="ui success message">
                                <ul class="list">
                                    <li>{{ message }}</li>
                                </ul>
                            </div>

                        {% endfor %}
                </div>
            </div>
        </section>

    {% endfor %}
{% endblock %}
